.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  --background: rgb(189, 189, 189);
  --s: 85px;  /* size  */
  --m: 1px;    /* margin */
  --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); 
  background-color: var(--background);
  overflow: hidden;
}

.header-bar {
  background-image: linear-gradient(rgb(0, 70, 16) 20%, rgb(0, 0, 0));
  height: 80px;
  width: 100%;
  position: sticky;
  z-index: 1000;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: 0px 0px 10px black;
}
.header-button {
  color: white;
  font-size: 2em;
}
.header-button:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px white);
}

.side-bar {
  background-image: linear-gradient(rgb(0,0,0) 1%,rgb(0, 70, 16) 100%);
  box-shadow: 0px 0px 10px black;
  width: 100vw;
  height: 14vh;
  position: absolute;
  z-index: 900;
  bottom: 0;
  display: flex;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.info-box {
  box-sizing: border-box;
  min-height: 85%;
  height: 85%;
  background-color: rgba(86, 86, 86, 0.4);
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0px 0px 10px black;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: auto;
  user-select: none;
}
.info-box::-webkit-scrollbar {
  display: none;
}
.info-field {
  font-size: 1em;
  
}




.pan-frame {
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: frameBackIn 0.2s ease-in;
  margin-right: 0vw;
  cursor: grab;
}
.pan-frame:active {
  cursor: grabbing;
}
.pan-frame.extended {
  animation: frameExtend 0.2s ease-in;
  margin-right: -15vw;
  width: 82vw;
}

.drag-contents {
  display: grid;
  grid-template-columns: 1fr;
}


/* .image-image {
  width: 150%;
  height: 150%;
} */
.image-box {
  grid-row-start: 1;
 grid-column-start: 1;
}

.grid-box {
  grid-row-start: 1;
 grid-column-start: 1;
}

.canvasElement {
  grid-row-start: 1;
 grid-column-start: 1;
}



.tile-piece {
  background-color: rgba(0,0,0,0.01);
  width: var(--s);
  margin: var(--m);
  height: 97px;
  display: inline-block;
  box-sizing: border-box;
  font-size:10px;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: -26px;
  background-image: radial-gradient(rgba(0,0,0,0) 55%, rgba(255, 255, 255, 0.15) 80%, rgba(255,255,255,0.5));
  text-align: center;
  position: relative;
}
.tile-piece.pointer:hover {
  background-color: rgba(0,0,0,0);
  background-image: radial-gradient(rgba(0,0,0,0) 45%, rgb(255, 255, 255));

}
.tile-piece.pointer {
  cursor: pointer;
}
.tile-piece.active {
  background-image: radial-gradient(rgba(0,0,0,0) 50%, rgb(0, 255, 102));
  overflow: visible;
}
.tile-piece.active:hover {
  background-color: none;
  background-image: radial-gradient(rgba(0,0,0,0) 50%, rgb(0, 255, 102));
  cursor: cell;
}

.tile-piece.blue {
  background-color: rgba(0,255,255,0.2);
}
.tile-piece.red {
  background-color: rgba(255,51,51,0.2);
}
.tile-piece.yellow {
  background-color: rgba(255,255,0,0.2);
}
.tile-piece.black {
  background-color: rgba(0,0,0,0.4);
}
.tile-piece.pink {
  background-color: rgba(255,51,255,0.2);
}
.tile-piece.purple {
  background-color: rgba(102,0,204,0.2);
}
.tile-piece.green {
  background-color: rgba(124,252,0,0.2);
}

.tile-piece.visible {
  background-color: none;
  background-image: radial-gradient(rgba(0,0,0,0) 30%, rgb(168, 255, 148));
}
.tile-piece.invisible {
  background-color: none;
  background-image: radial-gradient(rgba(0,0,0,0) 55%, rgba(255, 255, 255, 0.15) 80%, rgba(255,255,255,0.5));
}

.grid-box::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%; 
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

.hex {
  position: relative;
  width: 50px;
  height: 57.5px;
  margin: 10px;
  overflow: hidden;
}

.hex:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(60deg) skewY(30deg);
  background: #ddd;
}

.hex:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-30deg) rotate(60deg);
  background: #eee;
  border: 1px solid #aaa;
}
