.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  --background: rgb(189, 189, 189);
  --s: 85px;  /* size  */
  --m: 1px;    /* margin */
  --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); 
  background-color: var(--background);
  overflow: hidden;
}

.header-bar {
  background-image: linear-gradient(rgb(129, 104, 37) 80%, rgb(64, 49, 9));
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.header-button {
  color: white;
  font-size: 2em;
}
.header-button:hover {
  cursor: pointer;
}

.pan-frame {
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: frameBackIn 0.2s ease-in;
  margin-right: 0vw;
  cursor: grab;
}
.pan-frame:active {
  cursor: grabbing;
}
.pan-frame.extended {
  animation: frameExtend 0.2s ease-in;
  margin-right: -15vw;
  width: 82vw;
}

.drag-contents {
  display: grid;
  grid-template-columns: 1fr;
}


/* .image-image {
  width: 150%;
  height: 150%;
} */
.image-box {
  grid-row-start: 1;
 grid-column-start: 1;
}

.grid-box {
  grid-row-start: 1;
 grid-column-start: 1;
}



.tile-piece {
  background-color: rgba(0,0,0,0.01);
  width: var(--s);
  margin: var(--m);
  height: 97px;
  display: inline-block;
  box-sizing: border-box;
  font-size:10px;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: -26px;
  background-image: radial-gradient(rgba(0,0,0,0) 55%, rgba(255, 255, 255, 0.15) 80%, rgba(255,255,255,0.5));
  text-align: center;
  position: relative;
}
.tile-piece.pointer:hover {
  background-color: rgba(0,0,0,0);
  background-image: radial-gradient(rgba(0,0,0,0) 45%, rgb(255, 255, 255));

}
.tile-piece.pointer {
  cursor: pointer;
}
.tile-piece.active {
  background-image: radial-gradient(rgba(0,0,0,0) 55%, rgba(99, 255, 105, 0.15) 80%, rgba(0, 255, 8, 0.5));
}

.tile-piece.blue {
  background-color: rgba(0,255,255,0.2);
}
.tile-piece.red {
  background-color: rgba(255,51,51,0.2);
}
.tile-piece.yellow {
  background-color: rgba(255,255,0,0.2);
}
.tile-piece.black {
  background-color: rgba(0,0,0,0.4);
}
.tile-piece.pink {
  background-color: rgba(255,51,255,0.2);
}
.tile-piece.purple {
  background-color: rgba(102,0,204,0.2);
}
.tile-piece.green {
  background-color: rgba(124,252,0,0.2);
}


.grid-box::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%; 
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

